

.main-container{
    border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
}

/* .comment-flexbox{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
} */

/* .comment-text{
    margin:12px 0;
    font-size:1.5rem;
    font-weight: 600;
} */

.input-box{
   height:75px;
   width: 465px;
   background-color: white; 
}

/* .comment-btn{
    height:40px;
    width:80px;
    background-color:rgb(188, 73, 56) ;
    color:white;
    font-size:1rem;
    margin-top: 10px;
    border-radius: 5px;
    border-style:none;
    cursor: pointer;

} */

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-left:20px;
    margin-top: 0px;

  }

  .label{
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .button{
    
background-color: green;
  border:none;
  color:white;
  margin:20px;
  padding:15px 32px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  border-radius: 10%;
  

  
  
  }
  input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=number]{
  
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    
  }

  