.main-edit-spot{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:400px;
    background: white;
    border-radius: 15px;
}

.edit-spot-title{
    text-align: center;
    padding:0 0 20px 0;
    border-bottom: 1px solid silver;
    font-family: Geneva, Verdana, sans-serif;
}

.edit-spot-form{
    padding:0 40px;
    box-sizing: border-box;
    overflow-y:auto;
    height: 550px;
}

.edit-spot-label{
    color:#888;
    font-size:18px;
    font-family: Geneva, Verdana, sans-serif;
}

.edit-spot-input{
    display:block;
    border:2px solid #ccc;
    width:93%;
    padding:10px;
    border-radius: 15px;
    margin-top:10px;
}

.edit-spot-textarea{
    display:block;
    border:2px solid #ccc;
    width:93%;
    padding:10px;
    margin:10px auto;
    border-radius: 15px;
}

.edit-Btns{
    background: rgb(230, 30, 77);
    padding:10px;
    border-radius: 15px;
    font-weight: 700px;
    width: 100%;
    font-family: Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    cursor: pointer;
    transition : background-color 0.5s ease 0s;
    color:white
}
.edit-Btns:hover{
    background-position: right center; 
   background-image: linear-gradient(to right, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) 
}