/* @media screen and (min-width:2250px) {
    #main{
         /* position: absolute; */
        /* top:150px; */ 
        /* top:0; */
        /* left:550px; */
  
    


#main {
    margin: 0 auto;
    width: 800px
}

.above-spot-image{
    display:'flex';
    flex-direction: column;
    line-height: 1;
}

.avg-reviews-superhost-state{
   display:'flex';
   gap:8px;
   font-family: 'Geneva, Verdana, sans-serif';
}

.fontweight{
    font-weight: normal;
    text-decoration: none;
}