h4{
display: inline;

}
.spot-image {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 300px;
    width: 600px;
    border-radius: 10px;
    background-color:white;
    color: white;
    object-fit:cover;
    margin-left: 20px;
  }
  .spot-card {
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    overflow:hidden;
    /* border: 2px solid hotpink; */
    width: 300px;
    margin:30px;
    transition: transform 100ms ease-in;
    cursor:pointer;
    
}
.rating--location{
  display:flex;
  padding-left: 10px;
  margin-bottom:20px
}

.button{
  background-color: green;
  border:none;
  color:white;
  margin:20px;
  padding:15px 32px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size: 16px;

}
.names{
  font-weight: bold;
}
