.card--image {
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color:white;
    color: white;
    object-fit:cover;
    
  }

  .card-info {
    list-style: none;
    font-size:12px;
}
.card {
    margin:20px;
    border-radius: 10px;
    overflow:hidden;
    flex-wrap:wrap;
    transition: transform 100ms ease-in;
    cursor:pointer;  
    
}

.card:hover{
    transform: scale(1.07);
}

.spot-rating{
    display:flex;
    justify-content: flex-end;
    
    
}
.spot--price{
margin-left: 30px;

}

.spot--city--state{
    margin-left: 30px;
    margin-bottom: 10px;

} 
.spot--card--info{
    display:flex;
    flex-direction: row;

    font-size: small; 

}
