.logo{
    object-fit:contain;
    height:30px;
    margin-left: 25px;
    margin-top:15px
}

.nav{
    display:flex;
    text-decoration: none;
    padding-right: 0rem;
    margin-left: 10px;
    margin:20px;
    color:black;
    float:right;
    transition: transform 100ms ease-in;

}
.nav:hover{
    transform: scale(1.07);
}


ul{
    overflow: hidden;
}

.profile-button{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  color:black;
  width: 60px;
  height: 60px;
  align-items: center;
  cursor: pointer;
  padding: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    overflow:hidden;
  }

  .dropdown-content {
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    width: 200px;
    height:200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align:justify;
    border-radius: 20px;
    margin-top: 10;
    font-size: 20px;
    z-index: 1;
    float:right;
  }

  .nav--home{
    text-decoration: none;
    color:red
  }

  .move{
    margin:100
  }

  .nav--bar{
    cursor:'pointer'; width:30;
    transition: transform 100ms ease-in;

  }
  .nav--bar:hover{
    transform: scale(1.07);


  }
  .navbar{
    display:flex;
    align-items: flex-end;
    height:12%;
  }
nav{
  flex:1;
  text-align:right

}
.container{
  width:100%;
  padding-left:4%;
  padding-right:4%;
  box-sizing:border-box;
  height:auto;
  margin: right 50px
}

.airbnb--your--home{
  text-decoration: none;
  color:black;
  font-size:16px;  
  border:1px solid white;
  cursor: pointer;
  padding:10px;
  border-top: 50px;
  margin:200px;
  border-radius:40px
}

.airbnb--your--home:hover{
  background-color: rgb(209, 207, 207);
}

.menu{
  color:black;
  cursor: pointer;
  border-top: 30px;
  border-radius:40px;
  margin-right: 10px;
  flex:1
}
.menu--select{
  display:flex;
  flex-direction: column;
  border:1px solid white;
  border-radius: 10%;
  background-color: white;
  box-shadow: 1px 1px 2px 1px gray;;
}
.bar--list{
border:none;
padding:10px;
cursor: pointer;
border-radius: 10px;
transition: transform 100ms ease-in;

}
.bar--list:hover{
  transform: scale(1.07);

}

.profile-button{
  display:flex;
  flex-direction: row;
  margin-right: 1rem;
  position:'absolute';
  right:80;
  top:20;

}

