.logo{
    object-fit:contain;
    height:30px;
    margin-left: 25px;
    margin-top:15px
}

.nav{
    display:flex;
    text-decoration: none;
    padding-right: 0rem;
    margin-left: 10px;
    margin:20px;
    color:black;
    float:right;
    transition: transform 100ms ease-in;

}
.nav:hover{
    transform: scale(1.07);
}


ul{
    overflow: hidden;
}

.profile-button{
  border: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  padding: 10px;
  margin-left:95px
}

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    float:right;
  }